* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 20px;
  background-color: red;
}

h1 {
  color: bisque;
  font-size: 2rem;
  margin-bottom: 10px;
}

. container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

. description {
  margin-bottom: 20px;
  background-color: black;
}

p {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  text-align: center;
  background-color: bisque;
  font-weight: bolder;
  box-sizing: border-box;
}

form {
  flex-direction: column;
}

. form-group {
  margin-bottom: 20px;
}
